body {
    margin: 20, 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#title-img {
    width: 500px;
    height: 300px;
}

h3 {
    font-size: 26px;
}

p {
    margin-bottom: 20px;
}

.game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FCC40B;
}

.btn {
    display: flex;
    flex-direction: row;
}

button {
    color: #FCC40B;
    font-size: 12px;
    background-color: black;
    border-radius: 5px;
    border-color: #FCC40B;
    padding: 10px 30px;
    margin: 10px 20px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #FCC40B;
    color: black;
}

hr {
    width: 400px;
    height: 1px;
    border-width: 0;
    background-color: #FCC40B;
    margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: row;

}

footer a {
    display: flex;
    margin: 20px 30px;
}


footer img {
    width: 60px;
}